<link rel="stylesheet" href="/stylesheets/form.css">
<h1>About the app</h1>
<p>This is Movie introducer app</p>

<h2>This app contains useing chatGPT to help you to get the main content of the movie! You can try to ask every movie
    you want!!</h2>

<h1>Xiangchi Yuan</h1>
<p>Hi, I'm Xiangchi yuan. Currently a CS master student and I'm interested in data mining research! In this homework I
    finish it solo and write the app with the function to chat with chatGPT and get the content of input movie.

</p>

</div>